// CSS
.breadcrumb {
  background: none;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.button-container .button-23 {
  transition: all 0.5s !important;
  width: 90%;
}

.button-23 {
  transition: all 0.5s !important;
}
.button-23:hover {
  color: var(--color2);
  border-color: var(--color2);
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s ease;
}

.color-ball.red {
  background-color: red;
}

.color-ball.blue {
  background-color: blue;
}

.color-ball.green {
  background-color: green;
}

.color-ball.active {
  border: 2px solid #000;
}

.price-info {
  display: flex;
  gap: 10px;
  align-items: baseline;
  border-bottom: 2px dotted #e2dddd;
  margin-bottom: 0.5rem;
}

.final-price {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #fe6759;
}

.old-price {
  font-size: 0.8rem !important;
  color: #999;
}

.discount {
  font-size: 0.8rem;
  color: #f4f9f5;
  background: var(--color1);
  padding: 5px;
  border-radius: 4px;
}

.size-options {
  display: flex;
  gap: 10px;
}

.size-ball {
  width: 30px;
  height: 30px;
  border: 0.5px solid var(--color2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #000;
  font-weight: bold;
}

.size-ball.active {
  background-color: var(--color1);
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 50%;
  margin-bottom: 1rem;
}

.sub-image-container {
  display: flex;
  justify-content: center;
}

.sub-image {
  width: 25%;
  margin-right: 0.5rem;
}

.details {
  padding: 1rem;
}

.description {
  padding: 1rem 0;
}

.wishlist-icon {
  border: 1px solid var(--color3);
  color: var(--color3);
  border-radius: 50%;
  padding: 5px;
  transition: all 0.5s;
}

button {
  border: none;
  background: transparent;
}
.wishlist-icon:hover {
  color: var(--color2);
  border-color: var(--color2);
}

.policies {
  background-color: #ebedf0;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.policy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy-text {
  font-size: 0.9rem;
  text-align: center;
}

.policy-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: var(--color1);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.reviews-section {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}

.reviews-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review-user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border:solid black 1px;
}

.review-content {
  flex: 1;
}

.review-user {
  font-size: 1.2rem;
  font-weight: bold;
}

.review-text {
  font-size: 1rem;
  margin-top: 5px;
}

.review-rating {
  font-size: 1rem;
  color: #f39c12; /* Gold color for the stars */
  display: flex;
  align-items: center;
}

.review-rating .react-icons {
  margin-right: 2px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: var(--color4);
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.pagination-button:disabled {
  background-color: var(--color1);
  color: var(--color4);
  cursor: not-allowed;
}

.pagination-button:not(:disabled):hover {
  background-color: var(--color1);
}

.pagination span {
  margin: 0 8px;
  font-size: 14px;
  color: #333333;
}


@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
}
}
