.order-div {
  margin-top: 2rem;
}

.Creat-Order {
  width:90%;
}

.order-finish .w-50-custom {
  width: 66% !important;
}




@media (max-width: 640px){
  .order-finish .breadcrumb {
    width: 90%;
    justify-content: center !important;
  }
}